<!-- gnb__wrap(S) -->
<div class="gnb__wrap">
    <h1 class="logo-asmt"><a href="" class=""><i>SV</i><b>평가모델</b></a></h1>
    <button type="button" class="btn__gnb-folding">메뉴 접기</button>
    <div class="menu"><!-- menu(S) -->
        <ul class="depth1">
            <li class="on"><a href="" class="root board"><b>대시보드</b></a></li>
            <li>
                <strong class="root asmt">평가등록</strong>
                <ul class="depth2">
                    <li><a href="" class="link asmt"><b>Self-Assessment 작성</b></a></li>
                    <li><a href="" class="link prd"><b>제품/서비스 지표 등록</b></a></li>
                </ul>
            </li>
            <li>
                <strong class="root report">리포팅</strong>
                <ul class="depth2">
                    <li><a href="" class="link result"><b>성과 Report</b></a></li>
                    <li><a href="" class="link detail"><b>상세 분석 Report</b></a></li>
                    <li><a href="" class="link comp"><b>비교 분석 Report</b></a></li>
                </ul>
            </li>
        </ul>
    </div><!-- menu(E) -->

    <div class="utils">
        <a class="go-portal" href=""><span>SV 포털 바로가기</span></a>
    </div>
</div>
<!-- gnb__wrap(E) -->